{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Cético</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Verificar Autoria do Twitter" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
		<script src="https://cdn.rawgit.com/konvajs/konva/1.4.0/konva.min.js"></script>
  		<script src="https://code.jquery.com/jquery-3.1.1.min.js" defer></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
 		<script src="localhost:8000/js/bootstrap-submenu.js" defer></script>
	</head>
	<body>


<nav class="navbar navbar-inverse navbar-static-top" style="margin-bottom:0em;padding-top:30px;padding-bottom:30px">
<div class="container-fluid">

<div class="btn-group btn-group-justified" role="group" >

<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Imagem
  </button>
  <ul class="dropdown-menu">
{% for imagem in tituloimagem %}

    <li><a class="dropdown-item" href="{{imagem.titulo}}">{{ imagem.titulo }}</a></li>

{% endfor %}
</ul>
</div>

<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Video
  </button>
  <ul class="dropdown-menu">
{% for video in titulovideo %}

    <li><a class="dropdown-item" href="{{imagem.titulo}}">{{ video.titulo }}</a></li>

{% endfor %}
</ul>
</div>

<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Áudio
  </button>
  <ul class="dropdown-menu">
{% for audio in tituloaudio %}

    <li><a class="dropdown-item" href="{{imagem.titulo}}">{{ audio.titulo }}</a></li>

{% endfor %}
</ul>
</div>

<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Texto
  </button>
  <ul class="dropdown-menu">
{% for texto in titulotexto %}

    <li><a class="dropdown-item" href="{{imagem.titulo}}">{{ texto.titulo }}</a></li>

{% endfor %}
</ul>
</div>


<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Outros
  </button>
  <ul class="dropdown-menu">
{% for outros in titulooutros %}

    <li><a class="dropdown-item" href="{{imagem.titulo}}">{{ outros.titulo }}</a></li>

{% endfor %}
</ul>
</div>


</div>


</div>

</nav>




		<section class="fundo">


<div  class="col-md-12">
    <div class="row">
        <div class="col-sm-11"></div>
        <div class="col-sm-1 col-xs-1">
             <div style="box-shadow:none;top:1em;background:none;border:none;margin:0px" class="dropdown">
  <button  class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
   <img style="width:30px" src="http://localhost:8000/media/documents/gear.png">
    <span class="caret"></span>
  </button>
  <ul style="box-shadow:none;background:none;border:none;margin-left:-70px" class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li>
    <div style="position:fixed;left:60em" class="input-group">

  <span  class="input-group-addon glyphicon glyphicon-lock" id="basic-addon1"></span>
        <div style="margin:0px;width:34.3%">
  <input  type="text" class="form-control" placeholder="Acess Token" aria-describedby="basic-addon1">
        <input type="text" class="form-control" placeholder="Acess Token Secret" aria-describedby="basic-addon1">

            </div>


</div>

      </li>

      <li>

          <button style="width:36.4%;position:fixed;left:59.9em;top:17em" type="button" class="btn btn-success">Confirmar</button>

      </li>
  </ul>


    </div>
            </div>

    </div>
<div class="row">
    <div class="col-md-2">
        <div class="row">
            <label style="margin-left:12em;margin-top:5em">
                     <a href="http://localhost:8000/Novo_modelo" target="_self" > <img style="width:50px" src="http://localhost:8000/media/documents/add.png"></a>
                     </label>
        </div>
    </div>
    <div class="col-md-6" style="background:white;border-radius:20px;margin-top:5%;height:30em;width:auto;border:solid black 2px">

        <div class="row">

            <div class="btn-group"  data-toggle="buttons">
                 <label style="font-size:20px;border-top-left-radius: 0.9em;border-bottom-left-radius: 0em;padding-right:6em;padding-left:6em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
  Nome
  </label>
                <label style="font-size:20px;padding-right:6.02em;padding-left:6.02em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
     Status
  </label>

                 <label style="font-size:20px;border-top-right-radius: 0.9em;border-bottom-right-radius: 0em;padding-right:6.02em;padding-left:6.01em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
                    Ações
                     </label>
            </div>

        </div>
<div class="row">
                <div class="btn-group"  data-toggle="buttons">
                 <label style="border-radius:0em;padding-right:8.42em;padding-left:8.42em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
  Modelo 1
  </label>
                     <label style="border-radius:0em;border-right-style: hidden;padding-right:2.04em;padding-left:2.04em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
                      <img style="width:18px" src="http://localhost:8000/media/documents/coletando.png">
                     </label>
                    <label style="border-radius:0em;border-right-style: hidden;border-left-style: hidden;padding-right:2.04em;padding-left:2.04em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
                      <img style="width:18px" src="http://localhost:8000/media/documents/emtreino.png">
                     </label>
                     <label style="border-radius:0em;border-right-style: hidden;border-left-style: hidden;padding-right:2.04em;padding-left:2.04em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
                      <img style="width:18px" src="http://localhost:8000/media/documents/interrompido.png">
                     </label>
                     <label style="border-radius:0em;border-left-style: hidden;padding-right:2.04em;padding-left:2.04em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
                      <img style="width:18px" src="http://localhost:8000/media/documents/completo.png">
                     </label>


                   <label style="border-radius:0em;padding-right:2.9em;padding-left:2.9em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">

                      <img style="width:15px" src="http://localhost:8000/media/documents/playandpause.png">

                    </label>
                      <label type="button" onclick="location.href='http://localhost:8000/Detalhes';" style="border-radius:0em;padding-right:2.9em;padding-left:2.9em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">

                      <img  style="width:18px" src="http://localhost:8000/media/documents/continuar.png">

                    </label>
                    <label style="border-radius:0em;padding-right:2.9em;padding-left:2.9em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">

                      <img style="width:18px" src="http://localhost:8000/media/documents/cancelar.png">

                    </label>


            </div>


            </div>
        <div class="row">
                 <div class="btn-group"  data-toggle="buttons">
                 <label style="border-radius:0em;padding-right:8.42em;padding-left:8.42em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
  Modelo 1
  </label>
                     <label style="border-radius:0em;border-right-style: hidden;padding-right:2.04em;padding-left:2.04em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
                      <img style="width:18px" src="http://localhost:8000/media/documents/coletando.png">
                     </label>
                    <label style="border-radius:0em;border-right-style: hidden;border-left-style: hidden;padding-right:2.04em;padding-left:2.04em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
                      <img style="width:18px" src="http://localhost:8000/media/documents/emtreino.png">
                     </label>
                     <label style="border-radius:0em;border-right-style: hidden;border-left-style: hidden;padding-right:2.04em;padding-left:2.04em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
                      <img style="width:18px" src="http://localhost:8000/media/documents/interrompido.png">
                     </label>
                     <label style="border-radius:0em;border-left-style: hidden;padding-right:2.04em;padding-left:2.04em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
                      <img style="width:18px" src="http://localhost:8000/media/documents/completo.png">
                     </label>


                    <label style="border-radius:0em;padding-right:2.9em;padding-left:2.9em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">

                      <img style="width:15px" src="http://localhost:8000/media/documents/playandpause.png">

                    </label>
                      <label style="border-radius:0em;padding-right:2.9em;padding-left:2.9em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">

                      <img style="width:18px" src="http://localhost:8000/media/documents/continuar.png">

                    </label>
                    <label style="border-radius:0em;padding-right:2.9em;padding-left:2.9em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">

                      <img style="width:18px" src="http://localhost:8000/media/documents/cancelar.png">

                    </label>



            </div>

    </div>
<div class="col-md-1">
    </div>



</div>
        </section>



	</body>
</html>
