{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Cético</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Analise forense, verificar se imagem é falsa" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	</head>
	<body>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container-fluid">
<a style="color:#3a3a37" href="{% url 'analisador.views.home' %}">
<button style="margin-top:10px;margin-bottom:10px" type="button" class="btn btn-default btn-lg" aria-label="Left Align">
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> HOME
</button></a>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Rotacionar
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'analisador.views.rotacionar90' %}">Girar 90&#8304;</a></li>
    <li><a class="dropdown-item" href="{% url 'analisador.views.rotacionar180' %}">Girar 180&#8304;</a></li>
    <li><a class="dropdown-item" href="{% url 'analisador.views.rotacionar270' %}">Girar 270&#8304;</a></li>
    <div class="dropdown-divider"></div>
    <li><a class="dropdown-item" href="{% url 'analisador.views.rotacionarmanual' %}">Girar manualmente</a></li>
</ul>
</button>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Inverter
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'analisador.views.horizontal' %}">Horizontalmente</a></li>
    <li><a class="dropdown-item" href="{% url 'analisador.views.vertical' %}">Verticalmente</a></li>
</ul>
</button>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Mudar cor
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'analisador.views.rotacionar90' %}">Preto e Branco</a></li>
    <li><a class="dropdown-item" href="{% url 'analisador.views.rotacionar180' %}">Girar 180&#8304;</a></li>
    <li><a class="dropdown-item" href="{% url 'analisador.views.rotacionar270' %}">Girar 270&#8304;</a></li>
    <div class="dropdown-divider"></div>
    <li><a class="dropdown-item" href="{% url 'analisador.views.rotacionarmanual' %}">Manualmente</a></li>
</ul>
</button>
</div>


<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Aplicar filtro
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'analisador.views.blur' %}">Blur</a></li>
    <li><a class="dropdown-item" href="{% url 'analisador.views.contour' %}">Contour</a></li>
    <li><a class="dropdown-item" href="{% url 'analisador.views.smooth' %}">Smooth</a></li>
    <li><a class="dropdown-item" href="{% url 'analisador.views.sharpen' %}">Sharpen</a></li>
</ul>
</button>
</div>

<div class="btn-group">
  <a style="color:#3a3a37" href="{% url 'analisador.views.transpor' %}"><button  type="button" class="btn btn-default">
   Transpor
  </button></a>
</div>


</div>

</nav>
		<section class="fundo">
		<div class="container">
		
  <div class="row text-center">
	
      <h1 id="letra">Cético</h1>
      <h2>Análise forense de imagens </h2>
	  <form enctype="multipart/form-data" action="{% url 'analisador.views.horizontal' %}" method="post">
		{% csrf_token %}
      {{ form.resultado }}
	  <input id="enviar" type="submit" alt="Enviar" width="48" height="27">
	  </form>

    </div>
	
  </div>
  
		</section>
		<footer class="container">
		
		<div class="row">
		
		
	
		</div>
		<p id="copyr">&copy; 2017 Cético</p>
	</body>
</html>
