{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Cético</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Analise forense, verificar se imagem é falsa" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
		<script src="https://cdn.rawgit.com/konvajs/konva/1.4.0/konva.min.js"></script>
  		<script src="https://code.jquery.com/jquery-3.1.1.min.js" defer></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
 		<script src="localhost:8000/js/bootstrap-submenu.js" defer></script>





	</head>
	<body>


    <script type='text/javascript'>
        var onetime;
        var img;
        var fr;
        var click = true;
        var canvas2;
        var ctx2;
        var points = [];
        var escalaX;
        var escalaY;
        var canvas;
        var ctx;
        var ligado;
        var chave=false;
        var contador=0;
        var faces = [];
        var canvasId = 'mostrarCanvas';
        var input;
        var files;
        var minX,minY,maxX,maxY;

        window.onload = function(){
            canvas = document.getElementById("imgp");
            ctx = canvas.getContext('2d');
            img = new Image();
            img.src = "http://localhost:8000/media/documents/drag.png";
            img.onload = function() {
            ctx.drawImage(img,0,0,584,388);
            };
            if(chave){
            ctx.clearRect(0,0,ctx.canvas.width, ctx.canvas.height);
            canvas.remove();
            }
        }

            function loadImage() {
                onetime = false;
                    if (!onetime){
                    document.getElementById("file").disabled = true;
                    }

                    onetime = true;

                    if (typeof window.FileReader !== 'function') {
                        write("The file API isn't supported on this browser yet.");
                        return;
                    }

                    input = document.getElementById('file');

                    if (!input) {
                        write("Um, couldn't find the imgfile element.");
                    } else if (!input.files) {
                         write("This browser doesn't seem to support the `files` property of file inputs.");
                    } else if (!input.files[0]) {
                         write("Please select a file before clicking 'Load'");
                    } else {
                        files = input.files[0];
                        fr = new FileReader();
                        fr.onloadend = function() {
                            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
                            img.src = fr.result;
                            imageLoaded();
                            ligado = true;
                        }
                        fr.readAsDataURL(files);
                    }
            }
                function imageLoaded() {
                    ctx.drawImage(img,0,0,584,388);
                    bordaPrincipal.style.border = "solid #666666 2px";
                    canvas.style.cursor = "crosshair";
                    ctx.lineWidth = 2;
                    ctx.strokeStyle = '#c00';
                    ctx.lineCap = 'round';
                    chave = true;




                    canvas.onmousedown = function(e) {
                        if(chave){
                            if (e.button == 0){
                            click = true;

                                var pos = getXY(e);
                                last = pos;
                                points = [];
                                isDown = true;
                                points.push(pos);

                                    if (ligado){
                                        bg();
                                    }

                                }else{
                                    if (ligado){
                                        bg();
                                    }
                                    canvas2.remove();
                                }
                        }
                    };

                    document.oncontextmenu = function(e){
                            if (e.target.id=="imgp")
                            return false
                    }

                    canvas.onmousemove = function(e) {
                        if (chave && click){
                            if (!isDown) return;

                            var pos = getXY(e);
                            points.push(pos);
                            ctx.beginPath();
                            ctx.moveTo(last.x, last.y);
                            ctx.lineTo(pos.x, pos.y);
                            ctx.stroke();
                            last = pos;


                        }
                    };


                    canvas.onmouseup = function(e) {
                        click = false;
                        if(chave && points.length >= 4){
                        click = true;


                            if (ligado){
                            bg();
                            }

                            if (!isDown) return;

                            isDown = false;

                            minMax();


                            if (ligado){
                            bg();
                             }
                            contador += 1;

                            ctx.lineWidth = 2;
                            ctx.strokeRect(minX, minY, maxX - minX, maxY - minY);
                            canvas2 = document.createElement('canvas');
                            ctx2 = canvas2.getContext('2d');
                            canvas2.id = ("canvas2"+contador);
                            canvas2.width  = 60;
                            canvas2.height = 60;
                            canvas2.style.position = "relative";
                            canvas2.style.marginRight = "0px";
                            canvas2.style.marginLeft = "20px";
                            canvas2.style.marginBottom = "10px";
                            canvas2.style.marginTop = "1px";
                            canvas2.style.border   = "2px solid #666666";
                            canvas2.style.borderRadius = "10px";
                            var canvasPos = canvas2.getBoundingClientRect();

                            canvas2.onmouseover = function(){
                             this.style.border = "2px solid red";
                             this.style.cursor = "pointer";
                             }

                            canvas2.onmouseout = function(){
                            this.style.border = "2px solid #666666";
                            }

                            canvas2.onclick = function(){

                            if (confirm("Deseja apagar a face selecionada?")){
                            this.faces = null;
                            this.remove();
                            contador -= 1;
                            }
                            }

                            ctx2.drawImage(img,minX*escalaX,minY*escalaY, maxX*escalaX - minX*escalaX, maxY*escalaY - minY*escalaY, 0, 0, 60, 60);
                            var output = document.getElementById('mostrarCanvas');
                            faces.unshift(canvas2);
                            output.innerHTML = '';
                                for(var i=0; i<contador; i++){
                                output.appendChild(faces[i])
                                }
                        }

                    }

                }


                        function bg(){
                        ctx.drawImage(img,0,0,584,388);
                        }

                            function minMax() {
                                escalaY = (img.height/388);
                                escalaX = (img.width/584);
                                var i = 0;
                                var p;
                                minX = 1000000;
                                minY = 1000000;
                                maxX = -1000000;
                                maxY = -1000000;


                                for(; p = points[i++];) {
                                    if (p.x > maxX) maxX = p.x;
                                    if (p.y > maxY) maxY = p.y;
                                    if (p.x < minX) minX = p.x;
                                    if (p.y < minY) minY = p.y;
                                }
                            }



                function getXY(e) {
                var rect = canvas.getBoundingClientRect();
                return {x: e.clientX - rect.left, y: e.clientY - rect.top}
                }


                function write(msg) {
                    var p = document.createElement('p');
                    p.innerHTML = msg;
                    document.body.appendChild(p);
                }



                function limpar(){
                    chave = false;
                    for (var i = 0, len = faces.length; i < len; i++) {
                        faces[i].remove();
                    }
                    faces = [];
                    document.getElementById("file").value = "";
                    bordaPrincipal.style.border = "dashed #666666 2px";
                    document.oncontextmenu = null;
                    ligado = false;
                    document.getElementById("file").disabled = false;
                    document.getElementById("imgp").style.cursor = "pointer";
                    document.getElementById('file').value="";




                    img.src = "http://localhost:8000/media/documents/drag.png";
                    }
</script>





<nav class="navbar navbar-inverse navbar-static-top" style="margin-bottom:0em;padding-top:30px;padding-bottom:30px">
<div class="container-fluid">

<div class="btn-group btn-group-justified" role="group" >

<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Imagem
  </button>
  <ul class="dropdown-menu">
{% for imagem in tituloimagem %}

    <li><a class="dropdown-item" href="{{imagem.titulo}}">{{ imagem.titulo }}</a></li>

{% endfor %}
</ul>
</div>

<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Video
  </button>
  <ul class="dropdown-menu">
{% for video in titulovideo %}

    <li><a class="dropdown-item" href="{{video.titulo}}">{{ video.titulo }}</a></li>

{% endfor %}
</ul>
</div>

<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Áudio
  </button>
  <ul class="dropdown-menu">
{% for audio in tituloaudio %}

    <li><a class="dropdown-item" href="{{audio.titulo}}">{{ audio.titulo }}</a></li>

{% endfor %}
</ul>
</div>

<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Texto
  </button>
  <ul class="dropdown-menu">
{% for texto in titulotexto %}

    <li><a class="dropdown-item" href="{{texto.titulo}}">{{ texto.titulo }}</a></li>

{% endfor %}
     <li><a class="dropdown-item" href="http://localhost:8000/Atribuição%20de%20Autoria%20no%20Twitter">Atribuição de Autoria no Twitter</a></li>
</ul>
</div>


<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Outros
  </button>
  <ul class="dropdown-menu">
{% for outros in titulooutros %}

    <li><a class="dropdown-item" href="{{imagem.titulo}}">{{ outros.titulo }}</a></li>

{% endfor %}
</ul>
</div>


</div>


</div>

</nav>




		<section class="fundo">

<div style="position:relative;top:0em;margin:0em;width:98em" class="container">

<div class="row">
<div  class="col-md-6" style="width:auto; height:38.80em">
    <div id="bordaPrincipal" style="margin-bottom:6px;border:dashed #666666 2px;border-radius:15px; width:42.100em; height:28em; top:50px; position:relative" class="container">

             <form enctype="multipart/form-data" id="form_img" action="{% url 'iluminantes' %}" method="post">
		{% csrf_token %}
                 <label  for="file">

                        <canvas style="border-radius:15px;position:relative;right:1em" width="584em" height="388em"  id="imgp"></canvas>




                 </label>
                 {{ form.resultado }}





	  </form>


    </div>
    <div style="width:44.550em; height:6.500em; top:50px; position:relative" class="container">
        <div class="row">
    <div style="width:8.700em; height:2em" class="col-md-4">
  <button  type="button" onclick="cortar();" class="btn btn-default"  style="margin-left:2em;padding-right:2.05em;padding-left:2.05em;padding-top:0.125em;padding-bottom:0.125em">COR</button>


</div>

   <div style="width:auto; height:2em" class="col-md-7">
              <div class="btn-group" data-toggle="buttons">
  <label style="padding-right:1.99em;padding-left:1.99em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> ACC
  </label>
  <label style="padding-right:2.050em;padding-left:2.050em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
<input type="checkbox" autocomplete="off"> BIC
  </label>
  <label style="padding-right:2.050em;padding-left:2.050em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> desconhecido
  </label>
</div>
</div>
            <div style="position:relative;right:2em;width:3em;height:2em" class="col-md-8">
                <button style="padding-right:0.500em;padding-top:0.100em;padding-bottom:0.100em" type="button" class="btn btn-default " aria-label="left Align" onclick="limpar()">

  <span style="text-align:right" class="glyphicon glyphicon-erase" onclick="limpar()" aria-hidden="true"> Limpar Dados</span>
</button>>
            </div>

    </div>

        <div class="row">
    <div style="width:8.700em; height:2em" class="col-md-4">

  <button type="button" class="btn btn-default" style="margin-left:2em;padding-right:1.400em;padding-left:1.400em;padding-top:0.125em;padding-bottom:0.125em">BORDA</button>

</div>

   <div style="width:auto; height:2em" class="col-md-7">
       <div class="btn-group" data-toggle="buttons">
  <label style="padding-right:2.455em;padding-left:2.455em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> desconhecido
  </label>
  <label style="padding-right:2.455em;padding-left:2.455em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> desconhecido
  </label>
</div>
</div>

      <div style="position:relative;right:2em;width:3em;height:2em" class="col-md-8">
                <button style="padding-right:0.800em;padding-left:0.800em;padding-top:0.100em;padding-bottom:0.100em" type="button" class="btn btn-default">CLASSIFICADOR
</button>>
            </div>









    </div>


        <div class="row">
    <div style="width:8.700em; height:2em" class="col-md-4">
  <button type="button" class="btn btn-default" style="margin-left:2em;padding-top:0.125em;padding-bottom:0.125em">TEXTURA</button>

</div>

   <div style="width:auto; height:2em" class="col-md-7">
 <div  class="btn-group" data-toggle="buttons">
  <label style="padding-right:2em;padding-left:3em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> SASI
  </label>
  <label style="padding-right:2em;padding-left:2em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
<input type="checkbox" autocomplete="off"> LAS
  </label>
  <label style="padding-right:1.370em;padding-left:1.370em;padding-top:0.125em;padding-bottom:0.125em" class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> desconhecido
  </label>
</div>
</div>


           <div style="position:relative;right:1.400em;width:11em;height:2em" class="col-md-8">
                <div  class="btn-group" data-toggle="buttons">
  <label style="padding-right:1em;padding-left:1em;padding-top:0.100em;padding-bottom:0.100em" class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> KNN
  </label>
  <label style="padding-right:1em;padding-left:1em;padding-top:0.100em;padding-bottom:0.100em" class="btn btn-primary">
<input type="checkbox" autocomplete="off"> SVM
  </label>
                </div>


            </div>




    </div>



    </div>

    </div>

<div class="col-md-3" style="width:auto; height:23em" >
  <div style="border:solid #666666 2px;border-radius:15px; width:22.3125em; height:15.625em; top:3.600em; position:relative" class="container">

       <p align="center">ICC</p>

    </div>
    </div>
    <div class="col-md-3" style="width:auto; height:23em" >
   <div style="border:solid #666666 2px;border-radius:15px; width:22.3125em; height:15.625em; top:3.600em; position:relative" class="container">

       <p align="center">GGE</p>

    </div>
    </div>

    <div class="col-md-6">
        <div style="border:solid #666666 2px;border-radius:15px;width:49.400em;height:12em;right:1em;position:relative;overflow-y: scroll" class="container">
          <div class="row" id="mostrarCanvas" style="margin-top:1.400em">

          </div>


        </div>
    </div>



</div>








		</section>

		<footer class="container-fluid">
		
		<div class="row">
		
		<p id="copyr">&copy; 2017 Cético</p>
	
		</div>
        </footer>

	</body>
</html>
