
/* Essa classe é o fundo, o codigo faz os items se alinharem no meio, carrega uma imagem através de uma url, redimensiona a imagem, e por fim, eu aumentei um pouco o tamanho dela */
.fundo {
  display: block;
  align-items: bottom;
  background-image: url("http://localhost:8000/static/imagens/fundo.jpg");
  background-size: 100% 100%;
  color: #ffffff;
  height: 39em;
  }
  
/* nesse trecho eu fiz o acesso direto mesmo, por isso utilizei "body div div h2" para percorrer a arvore, ele altura a cor da letra, coloca uma sombra e muda a fonte */
body div div h2 {
	font-family:Garamond;
	text-shadow:1px 0px #424242;
	color:black;
}



img[alt]:before {  
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: 'Helvetica';
	color:red;
  font-weight: 300;
  line-height: 2;  
  text-align: center;
  content: "We're sorry, the image below is broken :(";
}



/* esse codigo é botão que recebe a imagem, obiviamente é só um prototipo sem script rodando */

label[for="file"] {
    color: #aaaaaa;
    padding:0px;
    border-radius: 4px;
    cursor: pointer;
	width:42.100em;
	height:27.700em;




}



.telalumi {
 	background-color: #ffffff;
	color:#aaaaaa;
	border: 1px solid black;
	width:50%;
}

/* tudo que tiver "hover" é a parte que se "ativa" quando passa o mouse, no caso desse trecho do codigo ele simplesmente deixa a letra branca e um fundo azul*/
input[type=file]:hover {
  color: #ffffff;
  background-color: #292b2c;
}
/*Botão de enviar a imagem*/
#enviar{
    width: 10%;
    background-color: #ffffff;
    color: #aaaaaa;
	text-align:center;
	margin-top: 5%;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}
#enviar:hover{
  color: #ffffff;
  background-color: #292b2c;	
}
/* Esses botões são do "menu" da parte debaixo, o botão2 serve apenas para tornar uma area maior clickavel para acessar o link desejado, o padding serve pra separar o conteudo (no caso o texto) da area em azul, ou seja, deixa maior o botão, enquanto o margin é a separação dos blocos entre si, defini manualmente o top,left,right e bottom pra ficar do jeito que eu queria, enquanto o cursor:pointer, serve pra seta do mouse virar uma mãozinha quando passar por cima do botão, border-radius pra deixar arredondado a borda*/
.botão {

	padding-bottom:18px;
	padding-left:0.2px;
	padding-right:0.3px;
	padding-top:18px;
    background-color:#64B5F6;
    color:#64B5F6;
    margin:50px 195px 0px 0px;
	border-radius: 8px;
    cursor: pointer;
	text-decoration:none;
}


.botão:hover {	
    border:0px 0px 0px 0px;
	color:black;
	border-radius: 8px;
	border:1px solid black;

}

.botão2 {
	border-right:20px solid #64B5F6;
	border-left:20px solid #64B5F6;
	border-top:20px solid #64B5F6;
	border-bottom:20px solid #64B5F6;
	background-color:#64B5F6;
	color:black;
	border-radius: 8px;
	text-decoration:none;

}

.botão2:hover {
	color:white;
	text-decoration:none;

}
/* esse id eu criei para alterar o H1, fazer uma caixinha envolta e mudar a letra, eu poderia acessar o h1 usando "div div div h1, porém é mais facil criar um id ou uma classe */
#letra{
	color:black;
	font-size:50px;
	border:2px solid black;
	border-radius:2px;
	font-family:Verdana;
}


footer .menudebaixo {
	 display: flex;
     justify-content: flex-end;
}
/* esse "list-style:none" serve pra tirar o pontinho preto que fica quando você utiliza a tag de listar do html <ul> */
footer ul {
	list-style:none;
}
/*O position relative é para definir exatamente onde quero determinado bloco, no caso defini manualmente o left e right para color bem no canto o © 2017 Cético, tem várias maneiras de fazer isso, mas optei por essa.*/
#copyr{
	position:relative;
	left:-90px;
	top:20px;
}
